<div *ngIf="validUser">
    <router-outlet></router-outlet>
</div>

<div *ngIf="!validUser">

    <section>
        <div class="login">
            <div class="login-left">
            <span></span>
        </div>
        <div class="login-right">
            <div class="form">
                <ng-container *ngIf="bLogIn == true; then displayLoginForm; else displayRegistrationForm "></ng-container>
        
                <ng-template #displayLoginForm>
                    <div [ngClass]="(bLogIn==true)?'loginForm':'registerForm'">
                        <h1>Login</h1>
                            <input type="email" placeholder="email"  [(ngModel)]="loginObj.email"><br><br>
                            <input type="password" placeholder="password"  [(ngModel)]="loginObj.password"><br><br>
                            <button class="btn btn-success" type="submit" (click)="onLogin()">Login</button>
                        Not have an acount? &nbsp;<a class="register-link" (click)="displayRegister()">Register</a>
                        <br>
                    </div>
                </ng-template>
                
                
                <ng-template #displayRegistrationForm>
                    <div [ngClass]="(bLogIn==true)?'loginForm':'registerForm'">
                        <h1>Register</h1> 
                        <label for="">Name</label><input type="text" placeholder="Aditya Raj" [(ngModel)]="registerObj.name"><br><br>
                        <label for="">Email</label><input type="email" placeholder="aditya@gmail.com"  [(ngModel)]="registerObj.email"><br><br>
                        <label for="">Password</label><input type="password" placeholder="••••••••"  [(ngModel)]="registerObj.password"><br><br>
                        <button class="btn btn-success" type="submit" (click)="onRegister()">Register</button>
                        Alreay an user? &nbsp;<a class="register-link" (click)="displayLogin()">Login</a>
                        <br>  
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    </section> 
</div>