
<section>
    <div class="login">
        <div class="login-left">
            <span></span>
        </div>
        <div class="login-right">
            <div class="form">
                <ng-container *ngIf="bLogIn == true; then displayLoginForm; else displayRegistrationForm "></ng-container>
        
                <ng-template #displayLoginForm>
                    <div [ngClass]="(bLogIn==true)?'loginForm':'registerForm'">
                        <h1>Login</h1>
                        <form action="">
                        <input type="text" placeholder="username"><br><br>
                        <input type="password" placeholder="password"><br><br>
                        <button class="btn btn-success" routerLink="home">Login</button>
                        </form>
                        Not have an acount? &nbsp;<a class="register-link" (click)="displayRegister()">Register</a>
                        <br>
                        
                    </div>
                </ng-template>
                
                
                <ng-template #displayRegistrationForm>
                    <div [ngClass]="(bLogIn==true)?'loginForm':'registerForm'">
                        <h1>Registration</h1> 
                        <form action="">
                        <label for="">Name:</label>&nbsp;<input type="text" placeholder="Aditya Raj"><br><br>
                        <label for="">Email:</label>&nbsp;<input type="email" placeholder="aditya@gmail.com"><br><br>
                        <label for="">Username:</label>&nbsp;<input type="text" placeholder="iamadityaraj04"><br><br>
                        <label for="">Password:</label>&nbsp;<input type="password"><br><br>
                        <label for="">Confirm Password:</label>&nbsp;<input type="text"><br><br>
                        <button class="btn btn-success" routerLink="/">Register</button>
                        </form>
                        Alreay an user? &nbsp;<a class="register-link" (click)="displayLogin()">Login</a>
                        <br>  
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    