.cover-bg{
    background-image: url(https://source.unsplash.com/HD9P-xw2pEE);
}

.contact{
    padding: 4%;
}
.col-md-3{
    background-color: red;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
#comment{
    height: 150px;
}
.form-group{
    margin: 20px;
}