<div class="about-container">
    <!-- cover-section -->
    <div class="cover">
        <div class="cover-bg">
        </div>
        <div class="cover-heading">
            <p class="cover-heading-text">{{aboutCover}}</p>
            <p class="cover-heading-descripton">{{aboutDes}}</p>
        </div>
    </div>

    <div class="about-section">
        <div class="about-left">
            <div id="about-decoration">
                <p style="font-size: 15px; font-weight: 500; color: red;">About Us</p><span class="about-line"></span>
            </div>
            <div>

                <p style="color: white; font-size: 60px; font-weight: 500;"> Welcome to <span style="color: red;">rent.<span style="color: white;">it</span></span></p>
                <p style="color: white; font-size: 15px; font-weight: 300;">
                    rent.it is the Gurgaon's largest vehicle rental company offers a complete spectrum of self Drive Services, to take care of all personal and business requirements.
                    <br><br>
                    The range of services includes short-term car and bike rentals, long term vehicle rentals, long tern vehicle lease, multi city journeys, local journeys- full day usage as directed by customer.
                    <br><br>
                    Through cutting age technology, we provide great deal in vehicle rental with the guaranteed lowest price. We constantly provide new, clean vehicle. Our 24x7 service offer you to hire vehicle any where in Gurgaon by just on a single mouse click. Bookings at rent.it India can be made by logging on to the website, calling the 24x7 customer. As an online vehicle rental company, rent.it acts as a one-stop shop for rental needs.
                </p>
            </div>
        </div>
        <div class="about-right">
            <img src="/assets/about.jpg" width="550px">
        </div>
    </div>

    <div class="about-team">
        
    </div>
</div>